<!DOCTYPE html>
  <html>
    <head>
      <!--
      Made with love in beautiful Saint Paul, Minnesota.
      Copyright © 2013–{{ site.time | date: "%Y" }} Anythin’ Goes and Timothy B. Smith
      -->

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ site.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta name="description" content="{{ site.description | truncate: 156 }}">

      <!-- Global Stylesheet -->
      <link rel="stylesheet" href="/assets/stylesheets/global.css">
    </head>
    <body>
    <!-- Thanks for reading the source, but there's a better way. It's all on GitHub:  -->
