// -------------------------------
// TYPE
// -------------------------------

// BASE TYPE ---------------------
html {
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $purple;
  color: $text-color;
  font-family: $sans-type;
  line-height: 1.5;
  margin: 0;
  @media #{$medium-up} {
    text-align: center;
  }
}

// BLOCK TYPE --------------------
h1 {
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
  @media #{$medium-up} {
    font-size: 2rem;
    line-height: 1.2;
  }
}

p {
  font-size: .95rem;
  line-height: 1.4;
  @media #{$medium-up} {
    font-size: 1.1rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// LINKS -------------------------
a {
  color: inherit;
  transition: color .2s ease-in-out;
  &:focus,
  &:hover {
    color: rgba(white, .55);
  }
}
