// -------------------------------
// FOOTER
// -------------------------------
.footer {
  line-height: 1.2;
  margin: 3rem auto;
  width: 90%;
}

.copyright {
  color: rgba(white, .55);
  font-size: .75rem;
}
